<footer class="page-footer purple" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">DataParser</h5>
                <p class="grey-text text-lighten-4">This lab has been prepared by Moringa School.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Materialize CSS</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Java</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Spring</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Moringa School
            <a class="grey-text text-lighten-4 right" href="#!">Moringa School</a>
        </div>
    </div>
</footer>
