<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">

</head>
  <body>

  <nav th:insert="fragments/nav">

  </nav>

    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">
              <img height="500px" style="object-fit: cover;" src="https://images.unsplash.com/photo-1589652717521-10c0d092dea9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
              <a class="btn-floating halfway-fab waves-effect waves-light red" th:href="@{/}"><i class="material-icons">home</i></a>
            </div>
            <div class="card-content">
              <span class="card-title">Am a little embarrassed !!!</span>
              <p>You seem lost. We can't seem to understand your request. Click the button above to go back to known lands.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
  </body>
</html>

