<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header">

</head>
<body>

<nav th:insert="fragments/nav">

</nav>

<div class="row">
    <aside class="row" style="margin-left: .5%; height: 100%;">

        <div class="col" style="margin-top: 2%;">
            <a class="btn blue darken-4" href="../data/json/load">LOAD EXISTING DATA</a>
        </div>

        <div class="col" style="margin-top: 2%;">
            <a class="btn green darken-4" href="../data/json/download">DOWNLOAD ORIGINAL DATA SET</a>
        </div>

        <div class="col" style="margin-top: 2%;">
            <a class="btn purple darken-4" href="../data/json/download/final">DOWNLOAD UPDATED DATASET</a>
        </div>
    </aside>

</div>

<main class="row">
    <div class="container" style="height: 100%;">
        <div class="row">

            <h3 th:if="${users.size() > 0}">
                <p th:text="RECORDS + ${': '+users.size()}"></p>
            </h3>

            <table class="striped responsive-table centered " th:if="${users.size() > 0}">
                <thead>

                <tr>
                    <th>ID</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>EMAIL</th>
                    <th>GENDER</th>
                    <th>PHONE</th>
                    <th>ACTIONS</th>
                </tr>

                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getFirst_name()}"></td>
                    <td th:text="${user.getLast_name()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getGender()}"></td>
                    <td th:text="${user.getPhone()}"></td>
                    <td>
                        <div>
                            <button class="btn orange">UPDATE</button>
                            <button class="btn red">DELETE</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</main>

<footer th:insert="fragments/footer">

</footer>
</body>
</html>